body {
    margin: 0;
    padding: 0;
    color: #1E1E1E;
    font-family: "Segoe UI", Verdana, Arial, sans-serif;
}
h1 {
    padding: 0  ;
    margin: 0 0 10px 0;
}

#header-container {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    background: #2E6E9E;
    color: #EAF4FD;
    padding: 10px 0;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
#header-container h1 {
    margin: 0 0 0 50px;
    padding: 0;
    text-transform: capitalize;
    letter-spacing: -3px;
}

#navigation-container {
    width: 80%;
    margin: 80px auto 0 auto;
}

#footer-container {
    background: #000;
    color: #FFF;
    text-align: center;
    height: 20px;
    margin: 10px 0 0 0;
    font-size: 0.8em;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
}

#content-container {
    /*border: 1px solid #000;*/
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
#content-container h1 {
    letter-spacing: -3px;
}

.ui-widget-content {
    color: #1E1E1E !important;
}
.ui-column-title {
    letter-spacing: -1px !important;
}

.ui-paginator-top {
    display: none !important;;
}
.ui-accordion-header {
    outline: none !important;
}

.ui-state-hover {
    margin: 0 !important;
}

.insertQuestionTabView .ui-widget-content {
    border: none;
}
.insertQuestionTabView .ui-widget-header {
    background: #FFF !important;
}
.insertQuestionTabView .ui-tabs-header {
    font-weight: normal !important;
    font-size: .8em;
}
.insertQuestionTabView .ui-tabs-panels {
    border: 1px solid #a6c9e2 !important;
}
#viewQuestionForm .ui-widget-content:hover {
    background: #EAF4FD;
}

.ui-panel, div.ui-state-hover {
    margin: 10px;
    /*width:200px;*/
    overflow: hidden;
}
.ui-dashboard-column {
    /*width:220px;*/
}

.content-left {
    width: 90%;
    vertical-align: top;
}
.content-right {
    width: 10%;
    vertical-align: top;
}