<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #header-container {
            width: 100%;
            background: #000;
            color: #FFF;
        }
        #header-container h1,
        #header-container h2 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <div id="header-container">
        <h1>My Worth</h1>
        <h2>How Much Am I Worth?</h2>
    </div>
</body>
</html>